*{
  font-family: 'Lato', sans-serif;
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
}

/*****************************/
/*****************************/
/******** BEGINSCHERM ********/
/*****************************/
/*****************************/

#beginscherm img{
  width: 20em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
}

#beginscherm h1{
  font-size: 1em;
  max-width: 20em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  font-weight: 300;
  color: grey;
}

#beginscherm a button{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/***************************/
/***************************/
/******** AANMELDEN ********/
/***************************/
/***************************/

#aanmelden img{
  width: 20em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#aanmelden fieldset{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border: none;
  text-align: left;
}

#aanmelden legend{
  font-size: 2.2em;
  font-weight: bold;
}

#aanmelden label{
  font-size: 1.5em;
  font-weight: normal;
  display: block;
}

#aanmelden label:first-of-type{
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

#aanmelden label:nth-of-type(2), #aanmelden label:nth-of-type(3){
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

#aanmelden input{
  margin-top: 0em;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 1.3em;
  font-weight: normal;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0.0em 0.5em 1.8em;
}

#aanmelden button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#aanmelden button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

#aanmelden p{
  font-size: 1em;
  font-weight: 300;
  color: grey;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
}

#aanmelden form input:valid{
  background-image: url(../images/check.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0.5em;
  border: 1px solid green;
}


/******************************/
/******************************/
/********** VOORNAAM **********/
/******************************/
/******************************/

#voornaam nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#voornaam nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#voornaam form input{
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 0.8em;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0.0em 0.5em 1.8em;
}

#voornaam form input:valid{
  background-image: url(../images/check.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0.5em;
  border: 1px solid green;
}

#voornaam form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

#voornaam label{
  font-size: 1.8em;
  font-weight: bold;
}

#voornaam form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#voornaam form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#voornaam form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/*******************************/
/*******************************/
/******** GEBOORTEDATUM ********/
/*******************************/
/*******************************/

#geboortedatum nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#geboortedatum nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#geboortedatum form input{
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 1.3em;
  font-weight: normal;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0.0em 0.5em 1.8em;
}

#geboortedatum form input:valid{
  background-image: url(../images/check.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0.5em;
  border: 1px solid green;
}

#geboortedatum form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

#geboortedatum label{
  font-size: 1.8em;
  font-weight: bold;
}

#geboortedatum form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#geboortedatum form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#geboortedatum form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/*******************************/
/*******************************/
/********** PROVINCIE **********/
/*******************************/
/*******************************/

#provincie nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#provincie nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#provincie form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

#provincie form label{
  font-size: 1.8em;
  font-weight: bold;
}

#provincie form select{
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  height: 2.5em;
  font-size: 1.3em;
  font-weight: normal;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
}

#provincie form select:valid{
  background-image: url(../images/check.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 7.3em;
  border: 1px solid green;
}

#provincie form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#provincie form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#provincie form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/********************************/
/********************************/
/********* MAN / VROUW  *********/
/********************************/
/********************************/

#manvrouw nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#manvrouw nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#manvrouw fieldset{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  border: none;
}

#manvrouw label{
  font-size: 1.8em;
  font-weight: bold;
  margin-top: -1em;
  margin-bottom: 0.6em;
}

#manvrouw legend{
  width: 95%;
  font-size: 1.8em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

#manvrouw p{
  font-size: 0.8em;
  font-weight: 300;
  color: grey;
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#manvrouw form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#manvrouw form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

#manvrouw input[type=radio]{
  padding: 20px;
  opacity: 0;
}

#manvrouw legend{
  margin-bottom: 2em;
}

#manvrouw label[for=man]{
  padding: 1em;
  width: 5em;
  border: 1px solid black;
  float: left;
  border-radius: 10px;
  border: 2px solid #EB5014;
  font-weight: normal;
  margin-top: -1.4em;
  margin-left: 0.2em;
}

#manvrouw label:active{
  background-color: #EB5014;
  color: white;
}

#manvrouw label[for=vrouw]{
  width: 5em;
  padding: 1em 0.5em 1em 0.5em;
  border: 1px solid black;
  float: right;
  border-radius: 10px;
  margin-top: -1.45em;
  border: 2px solid #EB5014;
  font-weight: normal;
}

#manvrouw label{
  text-align: center;
}

/******************************/
/******************************/
/****** FOTO'S TOEVOEGEN ******/
/******************************/
/******************************/

#fotostoevoegen nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#fotostoevoegen nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#fotostoevoegen form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#fotostoevoegen form label{
  font-size: 1.8em;
  font-weight: bold;
}

#fotostoevoegen p{
  font-size: 0.8em;
  font-weight: 300;
  color: grey;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: left;
}

#fotostoevoegen form input[type=file]{
  width: 95%;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 7em 2em 7em 2em;
  margin-bottom: 10px;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  color: transparent;
}

#fotostoevoegen form input:first-of-type{
  border: 0.5px solid #EB5014;
  margin-top: 15%;
}

#fotostoevoegen form input:nth-of-type(2){
    margin-top: 15%;
}

#fotostoevoegen #gridContainerFotos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#fotostoevoegen form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
  margin-top: 1em;
}

#fotostoevoegen form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/*******************************/
/*******************************/
/******** TEKST PROFIEL ********/
/*******************************/
/*******************************/

#tekst_profiel nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#tekst_profiel nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#tekst_profiel form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

#tekst_profiel form label{
  font-size: 1.8em;
  font-weight: bold;
}

#tekst_profiel textarea{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  font-size: 0.8em;
  height: 5em;
  padding: 0.2em 0.3em 0em 0.2em;
}

#tekst_profiel form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#tekst_profiel form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#tekst_profiel form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/******************************/
/******************************/
/******** MIJN PROFIEL ********/
/******************************/
/******************************/

#mijnprofiel nav{
  z-index: 1;
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
  background-color: white;
  position: fixed;
  width: 100%;
}

#mijnprofiel img:nth-child(2){
  width: 100%;
  position: relative;
  max-height: 50%;
}

#mijnprofiel nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#mijnprofiel h2{
  margin-top: 0.5em;
  margin-left: 0.5em;
}

#mijnprofiel h2 span{
  font-weight: normal;
}

#mijnprofiel .location img{
  height: 2em;
  width: -2em;
  margin: 0.5em 0em 1.5em 0.5em;
}

#mijnprofiel .location p{
  font-size: 0.9em;
  margin-top: 1em;
  color: grey;
}

#mijnprofiel .location{
  display: flex;
}

#mijnprofiel a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.5em;
  width: 90%;
  min-width: 16em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#mijnprofiel a{
  text-decoration: none;
}
