*{
  font-family: 'Lato', sans-serif;
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
}

/*****************************/
/*****************************/
/******** BEGINSCHERM ********/
/*****************************/
/*****************************/

#beginscherm img{
  width: 20em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
}

#beginscherm h1{
  font-size: 1em;
  max-width: 20em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  font-weight: 300;
  color: grey;
}

/****************************/
/****************************/
/******** INLOGKEUZE ********/
/****************************/
/****************************/

#inlogkeuze img{
  width: 20em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}

#inlogkeuze p{
  max-width: 25em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}

#inlogkeuze p:first-of-type{
  margin-top: 15em;
}

#inlogkeuze p:last-of-type{
  text-align: center;
  margin-top: 1em;
}

#inlogkeuze a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 16em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
}

#inlogkeuze a:first-of-type button{
  background-color: #EB5014;
  color: white;
  text-decoration: none;
}

#inlogkeuze a:last-of-type button{
  color: #EB5014;
  background-color: white;
}

#inlogkeuze a{
  text-decoration: none;
}

/****************************************/
/****************************************/
/******** TELEFOON NR STAP 1 / 7 ********/
/****************************************/
/****************************************/

#telefoonnr nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#telefoonnr nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#telefoonnr form input{
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0em 0.5em 0em;
  color: black;
}

#telefoonnr form input:valid{
background-color: lightgreen;
outline-color: green;
}

#telefoonnr form input:invalid{
background-color: lightcoral;
outline-color: red;
}

#telefoonnr form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

#telefoonnr label{
    font-size: 1.8em;
    font-weight: bold;
}

#telefoonnr form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#telefoonnr form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
  text-decoration: none;
}

#telefoonnr form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/******************************/
/******************************/
/******** MOBIELE CODE ********/
/******************************/
/******************************/

#mobicode nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#mobicode nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#mobicode form input{
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 17%;
  text-align: center;
  font-size: 0.8em;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0em 0.5em 0em;
}

#mobicode form input:valid{
background-color: lightgreen;
outline-color: green;
}

#mobicode form input:invalid{
background-color: lightcoral;
outline-color: red;
}

#mobicode .flexcontainer{
  display: flex;
  justify-content: space-between;
}

#mobicode form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

#mobicode label{
  font-size: 1.8em;
  font-weight: bold;
}

#mobicode form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#mobicode form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
  text-decoration: none;
}

#mobicode form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/******************************/
/******************************/
/********** VOORNAAM **********/
/******************************/
/******************************/

#voornaam nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#voornaam nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#voornaam form input{
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0em 0.5em 0em;
}

#voornaam form input:valid{
background-color: lightgreen;
outline-color: green;
}

#voornaam form input:invalid{
background-color: lightcoral;
outline-color: red;
}

#voornaam form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

#voornaam label{
  font-size: 1.8em;
  font-weight: bold;
}

#voornaam form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#voornaam form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#voornaam form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/*******************************/
/*******************************/
/******** GEBOORTEDATUM ********/
/*******************************/
/*******************************/

#geboortedatum nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#geboortedatum nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#geboortedatum form input{
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  max-width: 15em;
  text-align: center;
  font-size: 0.8em;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0em 0.5em 0em;
  color: black;
}

#geboortedatum form input:valid{
background-color: lightgreen;
outline-color: green;
}

#geboortedatum form input:invalid{
background-color: lightcoral;
outline-color: red;
}

#geboortedatum form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

#geboortedatum label{
  font-size: 1.8em;
  font-weight: bold;
}

#geboortedatum form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#geboortedatum form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#geboortedatum form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/*******************************/
/*******************************/
/********* EMAIL ADRES *********/
/*******************************/
/*******************************/

#email nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#email nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#email form input{
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  max-width: 15em;
  text-align: center;
  font-size: 0.8em;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0em 0.5em 0em;
  color: black;
}

#email form input:valid{
background-color: lightgreen;
outline-color: green;
}

#email form input:invalid{
background-color: lightcoral;
outline-color: red;
}

#email form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

#email label{
  font-size: 1.8em;
  font-weight: bold;
}

#email form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#email form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#email form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/********************************/
/********************************/
/***** MAN / VROUW VOORKEUR *****/
/********************************/
/********************************/

#manvrouwvoorkeur nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#manvrouwvoorkeur nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#manvrouwvoorkeur form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#manvrouwvoorkeur label{
  font-size: 1.8em;
  font-weight: bold;
}

#manvrouwvoorkeur form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: -1em;
}

#manvrouwvoorkeur form input{
  margin-top: 1em;
  margin-bottom: 2em;
  width: 45%;
  text-align: center;
  font-size: 0.8em;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 3em 0em 0.5em 0em;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
}

#manvrouwvoorkeur form .man_icon{
  background-image: url('../images/man_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
}

#manvrouwvoorkeur form .vrouw_icon{
  background-image: url('../images/vrouw_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
}

#manvrouwvoorkeur .flexcontainerManVrouw{
  display: flex;
  justify-content: space-between;
}

#manvrouwvoorkeur form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#manvrouwvoorkeur form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/******************************/
/******************************/
/****** FOTO'S TOEVOEGEN ******/
/******************************/
/******************************/

#fotostoevoegen nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
}

#fotostoevoegen nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#fotostoevoegen form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#fotostoevoegen form label{
  font-size: 1.8em;
  font-weight: bold;
}

#fotostoevoegen form p{
  max-width: 30em;
  font-size: 0.4em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 2em;
  margin-top: 2em;
}

#fotostoevoegen form input[type=file]{
  width: 95%;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 7em 2em 7em 2em;
  margin-bottom: 10px;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  color: transparent;
}

#fotostoevoegen form input:first-of-type{
  border: 0.5px solid #EB5014;
}

#fotostoevoegen #gridContainerFotos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#fotostoevoegen form a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
  position: relative;
  bottom: 12em;
}

#fotostoevoegen form a button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

/******************************/
/******************************/
/******** MIJN PROFIEL ********/
/******************************/
/******************************/

#mijnprofiel nav{
  z-index: 1;
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
  background-color: white;
  position: fixed;
  width: 100%;
}

#mijnprofiel img:nth-child(2){
  overflow: hidden;
  width: 140%;
  margin: -65% -70% -50% -40%;
  position: relative;
}

#mijnprofiel nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#mijnprofiel h2{
  margin-top: 8em;
  margin-left: 0.5em;
}

#mijnprofiel h2 span{
  font-weight: normal;
}

#mijnprofiel .location img{
  height: 2em;
  width: -2em;
  margin: 0.5em 0em 1.5em 0.5em;
}

#mijnprofiel .location p{
  font-size: 0.9em;
  margin-top: 1em;
  color: grey;
}

#mijnprofiel .location{
  display: flex;
}

#mijnprofiel a button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1em;
  width: 90%;
  min-width: 16em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#mijnprofiel a{
  text-decoration: none;
}
