*{
  font-family: 'Lato', sans-serif;
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
}

body{
background-image: url("/static/img/couple.jpg");
background-repeat: no-repeat;
background-size: cover;
}

/*****************************/
/*****************************/
/******** BEGINSCHERM ********/
/*****************************/
/*****************************/

#beginscherm img{
  width: 20em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
}

#beginscherm h1{
  font-size: 1em;
  max-width: 20em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  font-weight: 300;
  color: grey;
}

#beginscherm a button{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/***************************/
/***************************/
/******** AANMELDEN ********/
/***************************/
/***************************/

#aanmelden .logo{
  width: 20em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#aanmelden fieldset{
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

#aanmelden form{
  width: 25em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0em 2em 2em 2em;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
}

#aanmelden a{
  text-decoration: none;
}

#aanmelden legend{
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
  padding-top: 0.5em;
}

#aanmelden label{
  font-size: 1.5em;
  font-weight: normal;
  display: block;
}

#aanmelden label:first-of-type{
  margin-bottom: 0.3em;
}

#aanmelden label:nth-of-type(2), #aanmelden label:nth-of-type(3){
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

#aanmelden input{
  margin-top: 0em;
  margin-bottom: 0.5em;
  max-width: 18em;
  width: 100%;
  font-size: 1.3em;
  font-weight: normal;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0.0em 0.5em 0.5em;
}

#aanmelden button{
  display: block;
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-top: 1em;
  max-width: 18em;
  width: 100%;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#aanmelden button:disabled{
  background-color: lightgrey;
  border-color: grey;
  color: grey;
  box-shadow: -1px 6px 14px rgba(0,0,0,0);
  opacity: 0.4;
}

#aanmelden p.vanAanmeldenTotInloggen{
  font-size: 1em;
  font-weight: 300;
  color: grey;
  text-align: center;
  position: relative;
  top: -2em;
}

#aanmelden form p{
  max-width: 30em;
  text-align: left;
  margin-left: 0em;
  font-size: 0.8em;
}

#aanmelden form input:valid{
  background-image: url(/static/img/check.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 14em;
  border: 1px solid green;
}

#aanmelden p a{
  text-decoration: underline;
}

@media (min-width: 50em) {

  #aanmelden p{
    margin-left: 6.5em;
  }

  #aanmelden .logo{
    margin-left: 6em;
  }

  #aanmelden p.vanAanmeldenTotInloggen{
    max-width: 18em;
    margin-right: 0em;
  }
}

/****************************/
/****************************/
/********* INLOGGEN *********/
/****************************/
/****************************/

#inloggen img{
  width: 20em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#inloggen fieldset{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border: none;
  text-align: left;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
}

#inloggen legend{
  font-size: 2.2em;
  font-weight: bold;
}

#inloggen label{
  font-size: 1.5em;
  font-weight: normal;
  display: block;
}

#inloggen label:first-of-type{
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

#inloggen label:nth-of-type(2), #aanmelden label:nth-of-type(3){
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

#inloggen input{
  margin-top: 0em;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 1.3em;
  font-weight: normal;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0.0em 0.5em 1.8em;
}

#inloggen button{
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  width: 90%;
  min-width: 15em;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#inloggen button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

#inloggen p{
  font-size: 1em;
  font-weight: 300;
  color: grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
}

#inloggen form input:valid{
  background-image: url(/static/img/check.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0.5em;
  border: 1px solid green;
}



/******************************/
/******************************/
/********** VOORNAAM **********/
/******************************/
/******************************/

#voornaam nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
  background-color: white;
}

#voornaam .logo{
  display: none;
}

#voornaam nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#voornaam form input{
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 0.8em;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0.0em 0.5em 0.5em;
}

#voornaam form input:valid{
  background-image: url(/static/img/check.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 13em;
  border: 1px solid green;
}

#voornaam form{
  width: 25em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 1em;
  border: 1px solid white;
  border-radius: 20px;
  padding: 4em 2em 16.3em 2em;
  margin-bottom: 1.5em;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
}

#voornaam label{
  font-size: 1.8em;
  font-weight: bold;
}

#voornaam form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#voornaam form button{
  display: block;
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-top: 1em;
  max-width: 18em;
  width: 100%;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#voornaam form button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

@media (min-width: 50em) {

  a img{
    position: relative;
    top: 6em;
    left: 3em;
  }
  .stappen{
    box-shadow: none;
    left: 8em !important;
    top: 4.5em !important;
    color: lightgrey !important;
  }
  header nav{
    box-shadow: -1px 1px 14px rgba(0,0,0,0) !important;
    background-color: transparent !important;
  }

  form{
    width: 25em !important;
    border: 1px solid grey;
    border-radius: 20px;
    border-color: lightgrey;
    background-color: white;
    margin-left: 3em !important;
    margin-top: 1em !important;
  }

  #voornaam .logo{
    display: inherit;
    width: 20em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: -4.3em;
    margin-left: 6em;
  }

  #voornaam form, #fotostoevoegen form, #geboortedatum form, #manvrouw form, #mijnprofiel form, #provincie form, #tekst_profiel form{
    padding: 7em 2em 12.85em 2em !important;
    margin-bottom: 1.2em;
  }
}

/*******************************/
/*******************************/
/******** GEBOORTEDATUM ********/
/*******************************/
/*******************************/

#geboortedatum nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
  background-color: white;
}

#geboortedatum .logo{
  display: none;
}

#geboortedatum nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#geboortedatum form input{
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 1.3em;
  font-weight: normal;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 0.5em 0.0em 0.5em 0.5em;
}

#geboortedatum form input:valid{
  background-image: url(/static/img/check.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 7em;
  border: 1px solid green;
}

#geboortedatum form{
  width: 25em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 1em;
  border: 1px solid white;
  border-radius: 20px;
  padding: 4em 2em 17.5em 2em;
  margin-bottom: 1.5em;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
}

#geboortedatum label{
  font-size: 1.8em;
  font-weight: bold;
}

#geboortedatum form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#geboortedatum form button{
  display: block;
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-top: 1em;
  max-width: 18em;
  width: 100%;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#geboortedatum form button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

@media (min-width: 50em) {
  #geboortedatum form{
    padding: 7em 2em 14em 2em !important;
    margin-bottom: 1.2em;
  }
  #geboortedatum .logo{
    display: inherit;
    width: 20em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: -4.3em;
    margin-left: 6em;
  }
}

/*******************************/
/*******************************/
/********** PROVINCIE **********/
/*******************************/
/*******************************/

#provincie nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
  background-color: white;
}

#provincie .logo{
  display: none;
}

#provincie nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#provincie form{
  width: 25em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 1em;
  border: 1px solid white;
  border-radius: 20px;
  padding: 4em 2em 16.6em 2em;
  margin-bottom: 1.5em;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
}

#provincie form label{
  font-size: 1.8em;
  font-weight: bold;
}

#provincie form select{
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  height: 2.5em;
  font-size: 1.3em;
  font-weight: normal;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
}

#provincie form select:valid{
  background-image: url(../images/check.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 7.3em;
  border: 1px solid green;
}

#provincie form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#provincie form button{
  display: block;
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-top: 1em;
  max-width: 18em;
  width: 100%;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#provincie form button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

@media (min-width: 50em) {
  #provincie .logo{
    display: inherit;
    width: 20em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: -4.3em;
    margin-left: 6em;
  }
}

/********************************/
/********************************/
/********* MAN / VROUW  *********/
/********************************/
/********************************/

#manvrouw nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
  background-color: white;
}

#manvrouw .logo{
  display: none;
}

#manvrouw nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#manvrouw form{
  width: 25em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 1em;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0em 2em 15.5em 2em;
  margin-bottom: 1.5em;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
}

#manvrouw form fieldset{
  border: none;
}

#manvrouw label{
  font-size: 1.8em;
  font-weight: bold;
  margin-top: -1em;
  margin-bottom: 0.6em;
}

#manvrouw legend{
  display: block;
  font-size: 1.8em;
  font-weight: bold;
  text-align: left;
  padding: 2.2em 0em 0.5em 0em;
}

#manvrouw form fieldset p{
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  color: grey;
  margin-top: 3em;
  text-align: left;
}

#manvrouw form button{
  display: block;
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-top: 1em;
  max-width: 18em;
  width: 100%;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#manvrouw form button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

#manvrouw input[type=radio]{
  padding: 20px;
  display: none;
}

#manvrouw input[type=radio]:checked + label{
  background-color: #EB5014;
  color: white;
}

#manvrouw legend{
  margin-bottom: 2em;
}

#manvrouw label[for=man]{
  padding: 1em;
  width: 5em;
  border: 1px solid black;
  float: left;
  border-radius: 10px;
  border: 2px solid #EB5014;
  font-weight: normal;
  margin-top: -1.9em;
  margin-left: 0.2em;
}

#manvrouw label[for=vrouw]{
  width: 5em;
  padding: 1em 0.5em 1em 0.5em;
  border: 1px solid black;
  float: right;
  border-radius: 10px;
  margin-top: -1.9em;
  border: 2px solid #EB5014;
  font-weight: normal;
}

#manvrouw label{
  text-align: center;
}

@media (min-width: 50em) {
  #manvrouw .logo{
    display: inherit;
    width: 20em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: -4.3em;
    margin-left: 6em;
  }
  #manvrouw form{
    padding: 2.3em 2em 12.5em 2em !important;
    margin-bottom: 1.45em;
  }
}

/******************************/
/******************************/
/****** FOTO'S TOEVOEGEN ******/
/******************************/
/******************************/

#fotostoevoegen nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
  background-color: white;
}

#fotostoevoegen .logo{
  display: none;
}

#fotostoevoegen nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#fotostoevoegen form{
  width: 25em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 1em;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1.5em 2em 3.55em 2em;
  margin-bottom: 1.5em;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
}

#fotostoevoegen form label{
  font-size: 1.8em;
  font-weight: bold;
}

#fotostoevoegen p{
  font-size: 0.8em;
  font-weight: 300;
  color: grey;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: left;
}

#fotostoevoegen form input[type=file]{
  width: 95%;
  border-radius: 10px;
  border-color: #EB5014;
  border-width: 1px;
  padding: 11em 2em 11em 2em;
  margin-bottom: 10px;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
}

#fotostoevoegen form input{
  border: 0.5px solid #EB5014;
  margin-top: 2em;
}

#fotostoevoegen form button{
  display: block;
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-top: 1em;
  max-width: 18em;
  width: 100%;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#fotostoevoegen form button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

@media (min-width: 50em) {
  #fotostoevoegen .logo{
    display: inherit;
    width: 20em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: -4.3em;
    margin-left: 6em;
  }

  #fotostoevoegen form{
    padding: 4.4em 2em 0.5em 2em !important;
    margin-bottom: 0.9em;
  }

  #fotostoevoegen form label{
    margin-top: -1em;
  }
}

/*******************************/
/*******************************/
/******** TEKST PROFIEL ********/
/*******************************/
/*******************************/

#tekst_profiel nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
  background-color: white;
}

#tekst_profiel .logo{
  display: none;
}

#tekst_profiel nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#tekst_profiel form{
  width: 25em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 1em;
  border: 1px solid white;
  border-radius: 20px;
  padding: 4em 2em 11.65em 2em;
  margin-bottom: 1.5em;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
}

#tekst_profiel form label{
  font-size: 1.8em;
  font-weight: bold;
}

#tekst_profiel textarea{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  font-size: 0.8em;
  height: 5em;
  padding: 0.2em 0.3em 0em 0.2em;
}

#tekst_profiel form p{
  max-width: 30em;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

#tekst_profiel form button{
  display: block;
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-top: 1em;
  max-width: 18em;
  width: 100%;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
}

#tekst_profiel form button:disabled{
  background-color: white;
  border-color: grey;
  color: grey;
}

@media (min-width: 50em) {
  #tekst_profiel .logo{
    display: inherit;
    width: 20em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: -4.3em;
    margin-left: 6em;
  }
  #tekst_profiel form{
    padding: 7em 2em 7.4em 2em !important;
    margin-bottom: 2em;
  }
}

/******************************/
/******************************/
/******** MIJN PROFIEL ********/
/******************************/
/******************************/

#mijnprofiel nav{
  display: flex;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
  padding: 0.5em;
  background-color: white;
}

#mijnprofiel .logo{
  display: none;
}

#mijnprofiel #profielfoto{
  width: 20em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

#mijnprofiel .profielBackground{
  background-color: white;
  width: 25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 1em;
  margin-bottom: 1.6em;
  display: block;
  padding: 1em 0em 4em 0em;
  box-shadow: -1px 1px 14px rgba(0,0,0,0.3);
}

#mijnprofiel nav h1{
  color: grey;
  font-weight: normal;
  position: relative;
  left: 40%;
  transform: translateX(-60%);
  top: 0.5em;
}

#mijnprofiel h2{
  margin-top: 0.5em;
  margin-left: 1.5em;
}

#mijnprofiel h2 span{
  font-weight: 100;
  font-size: 0.6em;
}

#mijnprofiel .profielBackground img:first-of-type{
  height: 1.7em;
  width: -2em;
  margin: 0.5em 0em -0.5em 0.5em;
  padding-left: 1.5em;
}

#mijnprofiel .profielBackground p:first-of-type{
  font-size: 0.9em;
  margin-top: -2em;
  color: black;
  display: inline-block;
}

#mijnprofiel .profielBackground p:last-of-type{
  margin-left: 2em;
  margin-right: 2em;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

#mijnprofiel button{
  display: block;
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin-top: 1em;
  max-width: 18em;
  width: 100%;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 50em) {
  #mijnprofiel .logo{
    display: inherit;
    width: 20em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: -4.3em;
    margin-left: 6em;
  }

  #mijnprofiel .mijnProfielNaarLinks{
    width: 25em !important;
    margin-left: 3em !important;
    margin-top: 1em !important;
    padding-bottom: 0em !important;
  }
  #mijnprofiel h2{
    margin-top: 2.5em;
    margin-left: 1.5em;
  }

  #mijnprofiel .profielBackground{
    margin-bottom: 1.2em;
    padding-bottom: 0.5em;
  }
}
