<!doctype html>
<header>
  <link href='static/styles.css' rel="stylesheet" type='text/css'</link>
  <title> <%=title%> </title>
  <%- include('header') -%>
</header>

<body>
    <h1> <%= message%> </h1>
</body>
