html
  include header.pug
  head
    link(rel="stylesheet", href="http://localhost:3000/static/styles.css", type='text/css')
    title= title
  body
    h1= message

var
unless hallo = 1
  p leuk dat je er bent!
else
  p doei
