<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="/static/css/styles.css" rel="stylesheet" type='text/css'</link>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Matchie</title>
</head>

<body id="beginscherm">

  <a href="/aanmelden"><button type="button" name="button">verder</button></a>

  <img src="/static/img/logo-datingssite.png" alt="Matchie logo">

  <h1>Zat om altijd maar alleen op de bank te zitten? Geen zorgen, Matchie zoekt zorgvuldig leuke singles voor u uit!</h1>

  <script src="javascript/matchie.js"type="text/javascript"></script>
</body>
