<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="/static/css/styles.css" rel="stylesheet" type='text/css'</link>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Matchie</title>
</head>

<body id="inloggen">
  <img src="/static/img/logo-datingssite.png" alt="Matchie logo">

  <form class="" action="index.html" method="post">
    <fieldset>
      <legend>Welkom terug!</legend>

      <label for="username2">Gebruikersnaam</label>
      <input id="username2" type="text" name="" value="" required>

      <label for="password2">Wachtwoord</label>
      <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" id="password2" type="password" name="" value="" required>
      <input type="hidden" name="id" value="<%= id %>" />

      <button name="button">Log in</button>
    </fieldset>
  </form>


  <p>Wachtwoord vergeten? <a href="#">Klik hier</a> </p>
  <p>Terug naar registreren? <a href="aanmelden.html">Aanmelden</a> </p>

  <script src="/static/javascript/matchie.js"type="text/javascript"></script>
</body>
