<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="static/css/styles.css" rel="stylesheet" type='text/css'</link>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Matchie</title>
</head>

<body id="manvrouw">

  <header>
    <nav>
      <a href="provincie.html"><img src="static/img/nav_pijltje.png" alt="navigatie naar vorige pagina"></a>
      <h1>Stap 5 / 7</h1>
    </nav>
  </header>

  <form class="" action="/geslacht" method="post">
    <fieldset>
      <legend>Ik ben een...</legend>

      <label for="man">Man</label>
      <input id="man" type="radio" name="gender" value="Man" required></input>

      <label for="vrouw">Vrouw</label>
      <input id="vrouw" type="radio" name="gender" value="Vrouw" required></input>

      <input type="hidden" name="id" value="<%= id %>" />

      <p>Woohoo! Je bent bijna klaar!</p>

      <button name="button">Doorgaan</button>
    </fieldset>
  </form>

<script src="javascript/matchie.js"type="text/javascript"></script>
</body>
