<!DOCTYPE html>

<html lang="en">

  <%- include('head.ejs'); %>

  <body id="fotostoevoegen">
    <img src="/static/images/logo-datingssite.png" class="logo" alt="Matchie logo">

    <header>
      <nav>
        <a href="/geslacht/<%= id %>" class="backButton"><img src="/static/images/nav_pijltje.png" alt="navigatie naar vorige pagina"></a>
        <h1 class="stappen">Stap 6 / 7</h1>
      </nav>
    </header>

    <form class="" action="/sendFormAfbeeldingen" method="post" enctype="multipart/form-data">
      <label>Voeg de mooiste foto van jezelf toe!
        <input class="bestandFoto" type="file" accept="image/*" name="pictures" require>
        <input type="hidden" name="id" value="<%= id %>" />
      </label>

      <p>Wist u dat een profiel met een foto veel meer kans op een match heeft?</p>

      <button name="button" class="formButton">Doorgaan</button>

    </form>

    <script src="/static/javascript/matchie.js"type="text/javascript"></script>
  </body>
</html>
