<!DOCTYPE html>

<html lang="en">

  <%- include('head.ejs'); %>

  <body id="tekst_profiel">
    <img src="/static/images/logo-datingssite.png" class="logo" alt="Matchie logo">

    <header>
      <nav>
        <a href="/afbeeldingen/<%= id %>" class="backButton"><img src="/static/images/nav_pijltje.png" class="pijltjeTerug" alt="navigatie naar vorige pagina"></a>
        <h1 class="stappen">Stap 7 / 7</h1>
      </nav>
    </header>

    <form class="" action="/sendFormTekst" method="post">
      <label for="tekstProfiel">Wat andere over mij moeten weten:
        <textarea class="tekstProfiel" name="textProfile" rows="8" cols="80" placeholder="Ik studeer marketing en hou van golf!" name="textProfile" require></textarea>
        <input type="hidden" name="id" value="<%= id %>" />
      </label>

      <p>Deze tekst komt op uw profiel te staan.</p>

      <button name="button" class="formButton">Klaar!</button>
    </form>

    <script src="/static/javascript/matchie.js"type="text/javascript"></script>
  </body>
</html>
