<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href='static/styles.css' rel="stylesheet" type='text/css'</link>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Matchie</title>
</head>

<body id="voornaam">

  <header>
    <nav>
      <a href="aanmelden.html"><img src="static/nav_pijltje.png" alt="navigatie naar vorige pagina"></a>
      <h1>Stap 2 / 7</h1>
    </nav>
  </header>

  <form class="" action="/voornaam" method="post">
    <label>Mijn voornaam is:
      <input type="text" name="firstName" value="" required></input>
      <input type="hidden" name="id" value="<%= id %>" />

    </label>

    <p>Gebruik hiervoor uw echte voornaam, een bijnaam is niet nodig.</p>

    <a href="/geboortedatum"> <button name="button">Doorgaan</button></a>
  </form>

  <script src="javascript/matchie.js"type="text/javascript"></script>
</body>
